<p>items-item works!</p>
<a 
href="#"
 class="list-group-item clearfix" 
 (click)="onSelected()"
 >
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{items.name}}</h4>
        <p class="list-group-item-text">Description: {{items.description}}</p>
        <p class="list-group-item-text">Sales Price: ${{items.salesPrice}}</p>

        <hr>
<!-- Detail goes here -->
<app-items-detail ></app-items-detail>     
    </div>
    <span class="pull-right">
        <img src="{{items.imagePath}}" alt="" class="image-responsive" style="max-height: 100px;"/>
    </span>
   
</a>


