<p>review-edit works!</p>

<div class="row">
    <div class="col-xs-8">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name" id="name">Item Name</label>
                    <input type="text" id="name" class="form-control">
                    <label for="description" id="description">Item Description</label>
                    <textarea type="text" id="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="price" id="price">Item Price</label>
                    <input type="number" id="price" class="form-control">
                    <label for="cost" id="cost">Item Cost</label>
                    <input type="number" id="cost" class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="bubmit">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
